// COLORS

$color-primary:#87CEEB;
$color-primary-light: #87CEEB;
$color-primary-dark: rgba(175, 74, 74, 0.688);
// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

$color-secondary-light: #516675;     /*tours*/
$color-secondary-dark: #5ba1c682;   /*tours*/

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #69452e;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-blue:#87cfebb4;
$color-red:rgba(168, 89, 89, 0.726);



// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;